*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#ffffff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    border-bottom:1px solid #eee;
}

header h1{
    font-size:36px;
}

nav a{
    text-decoration:none;
    color:black;
    margin-left:25px;
    font-weight:bold;
}

.hero{
    padding:80px 20px;
    text-align:center;
    background:#fafafa;
}

.hero h2{
    font-size:70px;
}

.hero p{
    margin-top:15px;
    font-size:24px;
}

.section-title{
    text-align:center;
    margin-top:50px;
    margin-bottom:30px;
    font-size:40px;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    padding:30px;
}

.product-card{
    border:1px solid #eee;
    border-radius:18px;
    padding:20px;
    text-align:center;
    transition:.2s;
}

.product-card:hover{
    transform:translateY(-4px);
}

.product-card img{
    width:100%;
    border-radius:12px;
}

.product-card h3{
    margin-top:15px;
}

.product-card p{
    margin-top:8px;
    font-size:22px;
}

button{
    background:black;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    margin-top:12px;
    cursor:pointer;
}

#cart{
    padding:50px;
}

#cart-items{
    margin-top:20px;
    margin-bottom:20px;
}

.checkout-btn{
    font-size:18px;
}

footer{
    text-align:center;
    padding:30px;
    margin-top:60px;
    border-top:1px solid #eee;
}